
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
}
.chat-section{
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px crimson, 0 4px 6px -2px #111;
}
.brand{
    padding: 20;
    display: flex;
    align-items: center;
    background-color:  crimson;
}
.brand h1{
    /* background-color: crimson; */
    font-size: 20px;
    color: #111;
    margin-left: 10px;
}
.message-area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #111;
    color: #fff;
}

.message {
    padding:20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming{
    background: crimson;
    color: #fff;
}
.outgoing{
    background: crimson;
    color: #fff;
    margin-left: auto;
}
.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #111;
    font-size: 14px;
}